<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title float-left">Widgets</h4>

            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Velonic</a></li>
              <li class="breadcrumb-item"><a href="#">Components</a></li>
              <li class="breadcrumb-item active">Widgets</li>
            </ol>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- end row -->


      <!--Widget-1 -->
      <div class="row text-center">

        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h2 mt-2 text-purple">15852</div>
              <span class="mb-2 text-muted">Sales</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card bg-primary">
            <div class="card-body">
              <div class="h2 mt-2 text-white">956</div>
              <span class="mb-2 text-light">New Orders</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card bg-warning">
            <div class="card-body">
              <div class="h2 mt-2 text-white">5210</div>
              <span class="mb-2 text-light">New Users</span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card bg-purple">
            <div class="card-body">
              <div class="h2 mt-2 text-white">20544</div>
              <span class="mb-2 text-light">Visits</span>
            </div>
          </div>
        </div>

      </div> <!-- end row -->


      <!--Widget-2 -->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget-panel widget-style-1 bg-pink">
            <i class="mdi mdi-comment-multiple"></i>
            <h2 class="m-0 counter text-white">50</h2>
            <div>Comments</div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="widget-panel widget-style-1 bg-warning">
            <i class="mdi mdi-cart"></i>
            <h2 class="m-0 counter text-white">12056</h2>
            <div>Sales</div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="widget-panel widget-style-1 bg-info">
            <i class="mdi mdi-cash"></i>
            <h2 class="m-0 counter text-white">1268</h2>
            <div>New Orders</div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="widget-panel widget-style-1 bg-success">
            <i class="mdi mdi-account-multiple"></i>
            <h2 class="m-0 counter text-white">145</h2>
            <div>New Users</div>
          </div>
        </div>
      </div> <!-- End row -->


      <!--Widget-3 -->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="tile-stats bg-white">
            <div class="status">
              <h3 class="m-t-0">15% more</h3>
              <p>Monthly visitor statistics</p>
            </div>
            <div class="chart-inline">
              <span class="inlinesparkline"></span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="tile-stats bg-white">
            <div class="status">
              <h3 class="m-t-0">15</h3>
              <p>Avg. Sales per day</p>
            </div>
            <span class="dynamicbar-big"></span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="tile-stats bg-white">
            <div class="status">
              <h3 class="m-t-0">-0.0102</h3>
              <p>Stock Market</p>
            </div>
            <span id="compositeline"></span>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="tile-stats bg-white">
            <div class="row">
              <div class="col-sm-8">
                <div class="status">
                  <h3 class="m-t-15">61.5%</h3>
                  <p>US Dollar Share</p>
                </div>
              </div>
              <div class="col-sm-4 m-t-20">
                <span class="sparkpie-big"></span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End row -->


      <!--Widget-4 -->
      <div class="row">
        <div class="col-md-3">
          <div class="mini-stat clearfix">
            <span class="mini-stat-icon bg-info"><i class="mdi mdi-cards-playing-outline"></i></span>
            <div class="mini-stat-info text-right">
              <span class="counter">15852</span>
              Total Sales
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mini-stat clearfix">
            <span class="mini-stat-icon bg-warning"><i class="fa fa-shopping-cart"></i></span>
            <div class="mini-stat-info text-right">
              <span class="counter">956</span>
              New Orders
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mini-stat clearfix">
            <span class="mini-stat-icon bg-pink"><i class="fa fa-user"></i></span>
            <div class="mini-stat-info text-right">
              <span class="counter">5210</span>
              New Users
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mini-stat clearfix">
            <span class="mini-stat-icon bg-success"><i class="fa fa-eye"></i></span>
            <div class="mini-stat-info text-right">
              <span class="counter">20544</span>
              Unique Visitors
            </div>
          </div>
        </div>
      </div> <!-- End row-->


      <!-- WEATHER -->
      <div class="row">

        <div class="col-lg-6">

          <!-- BEGIN WEATHER WIDGET 1 -->
          <div class="card bg-dark">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-7">
                  <div class="row">
                    <div class="col-6 text-center">
                      <canvas id="partly-cloudy-day" width="115" height="115"></canvas>
                    </div>
                    <div class="col-6">
                      <h2 class="m-t-0 text-white"><b>32°</b></h2>
                      <p class="text-white">Partly cloudy</p>
                      <p class="text-white mb-0">15km/h - 37%</p>
                    </div>
                  </div><!-- End row -->
                </div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">SAT</h4>
                      <canvas id="cloudy" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">30<i class="wi-degrees"></i></h4>
                    </div>
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">SUN</h4>
                      <canvas id="wind" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">28<i class="wi-degrees"></i></h4>
                    </div>
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">MON</h4>
                      <canvas id="clear-day" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">33<i class="wi-degrees"></i></h4>
                    </div>
                  </div><!-- end row -->
                </div>
              </div><!-- end row -->
            </div><!-- panel-body -->
          </div><!-- panel-->
          <!-- END Weather WIDGET 1 -->

        </div><!-- End col-md-6 -->

        <div class="col-lg-6">

          <!-- WEATHER WIDGET 2 -->
          <div class="card bg-danger">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-7">
                  <div class="">
                    <div class="row">
                      <div class="col-6 text-center">
                        <canvas id="snow" width="115" height="115"></canvas>
                      </div>
                      <div class="col-6">
                        <h2 class="m-t-0 text-white"><b> 23°</b></h2>
                        <p class="text-white">Partly cloudy</p>
                        <p class="text-white mb-0">15km/h - 37%</p>
                      </div>
                    </div><!-- end row -->
                  </div><!-- weather-widget -->
                </div>
                <div class="col-sm-5">
                  <div class="row">
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">SAT</h4>
                      <canvas id="sleet" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">30<i class="wi-degrees"></i></h4>
                    </div>
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">SUN</h4>
                      <canvas id="fog" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">28<i class="wi-degrees"></i></h4>
                    </div>
                    <div class="col-4 text-center">
                      <h4 class="text-white m-t-0">MON</h4>
                      <canvas id="partly-cloudy-night" width="35" height="35"></canvas>
                      <h4 class="text-white mb-0">33<i class="wi-degrees"></i></h4>
                    </div>
                  </div><!-- End row -->
                </div> <!-- col-->
              </div><!-- End row -->
            </div><!-- panel-body -->
          </div><!-- panel -->
          <!-- END WEATHER WIDGET 2 -->

        </div><!-- /.col-md-6 -->
      </div> <!-- End row -->

      <div class="row">

        <!-- Sales Monitor -->
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-body">
              <h4>SALES MONITOR</h4>
              <div class="text-center">
                <div class="chart easy-pie-chart-4" data-percent="22">
                  <span class="percent"></span>
                </div>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                <button class="btn btn-info btn-sm m-t-20">View All</button>
              </div><!-- col-sm-12 -->
            </div><!-- panel-body -->
          </div> <!-- Panel -->
        </div> <!-- col-->

        <div class="col-lg-4">
          <!-- Start Profile Widget -->
          <div class="profile-widget text-center">
            <div class="bg-info bg-profile"></div>
            <img src="assets/images/users/avatar-2.jpg" class="thumb-lg rounded-circle img-thumbnail" alt="img">
            <h3>Jonathan Doe</h3>
            <p><i class="fa fa-map-marker"></i> London</p>
            <a href="#" class="btn btn-sm btn-purple m-t-20">Follow</a>
            <ul class="list-inline widget-list row clearfix">
              <li class="col-md-4"><span>2.109</span>Followers</li>
              <li class="col-md-4"><span>596</span>Photos</li>
              <li class="col-md-4"><span>902</span>Like</li>
            </ul>
          </div>
          <!-- End Profile Widget -->
        </div>

        <div class="col-lg-4">
          <!-- Team-Member -->
          <div class="portlet"><!-- /primary heading -->
            <div class="portlet-heading">
              <h3 class="portlet-title text-dark text-uppercase">
                Team Members
              </h3>
              <div class="portlet-widgets">
                <a href="javascript:;" data-toggle="reload"><i class="mdi mdi-refresh"></i></a>
                <span class="divider"></span>
                <a data-toggle="collapse" data-parent="#accordion1" href="#portlet-6"><i class="mdi mdi-minus"></i></a>
                <span class="divider"></span>
                <a href="#" data-toggle="remove"><i class="mdi mdi-close"></i></a>
              </div>
              <div class="clearfix"></div>
            </div>
            <div id="portlet-6" class="panel-collapse collapse show">
              <div class="portlet-body pt-0">
                <ul class="list-group list-group-lg">
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-3.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-primary inline m-t-10">CEO</span>
                    <a href="#">Jonathan Deo</a>
                  </li>
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-4.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-info inline m-t-10">Webdesigner</span>
                    <a href="#">Doler Perte</a>
                  </li>
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-5.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-warning inline m-t-10">Webdeveloper</span>
                    <a href="#">Jannie Dvis</a>
                  </li>
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-6.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-pink inline m-t-10">Programmer</span>
                    <a href="#">Emma Welson</a>
                  </li>
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-7.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-warning inline m-t-10">Webdeveloper</span>
                    <a href="#">Jannie Dvis</a>
                  </li>
                  <li class="list-group-item b-0">
                    <a href="#" class=" m-r-10">
                      <img src="assets/images/users/avatar-8.jpg" alt="user-img" class="thumb-sm br-radius">
                    </a>
                    <span class="float-right label bg-info inline m-t-10">Webdesigner</span>
                    <a href="#">Petere Husen</a>
                  </li>
                </ul>
              </div> <!-- end portlet-body -->
            </div> <!-- end portlet-collapsed -->
          </div> <!-- end portlet/Team-member -->

        </div><!-- col-->
      </div>   <!-- End row -->

      <!-- Slider/ Carousel -->
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body p-0">
              <div class="velonic-carousel">
                <div id="velonic-slider" class="owl-carousel">
                  <div class="item">
                    <h4><a href="#">Hey! Welcome to Velonic</a></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->

                  <div class="item">
                    <h4><a href="#">Hey! Welcome to Velonic</a></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->

                  <div class="item">
                    <h4><a href="#">Hey! Welcome to Velonic</a></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->

                </div><!-- /#tiles-slide-1 -->
              </div><!-- /.panel-body -->
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card text-center text-white slider-bg">
            <div class="card-body p-0 position-relative">
              <div class="slider-overlay br-radius"></div>
              <div class="velonic-carousel">
                <div id="velonic-slider-2" class="owl-carousel">
                  <div class="item">
                    <h4 class="text-white"><b>Hey! Welcome to Velonic</b></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->

                  <div class="item">
                    <h4 class="text-white"><b>Hey! Welcome to Velonic</b></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->

                  <div class="item">
                    <h4 class="text-white"><b>Hey! Welcome to Velonic</b></h4>
                    <p class="small">02 April, 2015</p>
                    <p class="m-t-30"><em>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</em></p>
                    <button class="btn btn-warning btn-sm m-t-40">Read more</button>
                  </div><!-- /.item -->
                </div><!-- /#tiles-slide-2 -->
              </div>
            </div> <!-- panel-body -->
          </div><!-- Panel -->
        </div> <!-- col-->

      </div>  <!-- End row -->



    </div> <!-- container -->

  </div> <!-- content -->

  <footer class="footer text-right">
    2015 - 2018 © Velonic - Coderthemes.com
  </footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->