<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title float-left">WYSIWYG Editor</h4>

            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Velonic</a></li>
              <li class="breadcrumb-item"><a href="#">Forms</a></li>
              <li class="breadcrumb-item active">WYSIWYG Editor</li>
            </ol>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="m-b-30 m-t-0 header-title">Example</h4>
              <form method="post">
                <textarea id="elm1" name="area"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End row -->


    </div> <!-- container -->

  </div> <!-- content -->

  <footer class="footer text-right">
    2015 - 2018 © Velonic - Coderthemes.com
  </footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->