<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="page-title-box">
            <h4 class="page-title float-left">Notification</h4>

            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Velonic</a></li>
              <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
              <li class="breadcrumb-item active">Notification</li>
            </ol>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (top-left)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','top left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','top left','Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','top left','Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','top left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','top left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','top left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (top-right)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white', 'top right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->

      </div>
      <!-- end row-->

      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (top-center)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','top center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (left-middle)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','left middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row-->

      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (right-middle)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','right middle', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (bottom-left)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','bottom left', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row-->

      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (bottom-center)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','bottom center', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Notification (bottom-right)</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.notify('info','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.notify('success','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.notify('warning','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.notify('error','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.notify('black','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.notify('white','bottom right', 'Sample Notification', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row-->

      <div class="row">
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Autohide in 5 seconds</h4>

              <div class="button-list">
                <a class="btn btn-info autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('info', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Info</a>
                <a class="btn btn-success autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('success', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Success</a>
                <a class="btn btn-warning autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('warning', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Warning</a>
                <a class="btn btn-danger autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('error', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Error</a>
                <a class="btn btn-inverse autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('black', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">Black</a>
                <a class="btn btn-light autohidebut" href="javascript:;" onclick="$.Notification.autoHideNotify('white', 'top right', 'I will be closed in 5 seconds...','Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae orci ut dolor scelerisque aliquam.')">White</a>
              </div>
            </div>
          </div>
        </div> <!-- end col-->
        <div class="col-xl-6">
          <div class="card">
            <div class="card-body">
              <h4 class="header-title mb-4 mt-0">Confirm Notification</h4>

              <div class="button-list">
                <a class="btn btn-info" href="javascript:;" onclick="$.Notification.confirm('info','top left', 'Are you nuts?!')">Info</a>
                <a class="btn btn-success" href="javascript:;" onclick="$.Notification.confirm('success','top right', 'Are you nuts?!')">Success</a>
                <a class="btn btn-warning" href="javascript:;" onclick="$.Notification.confirm('warning','top center', 'Are you nuts?!')">Warning</a>
                <a class="btn btn-danger" href="javascript:;" onclick="$.Notification.confirm('error','bottom left', 'Are you nuts?!')">Error</a>
                <a class="btn btn-inverse" href="javascript:;" onclick="$.Notification.confirm('black','bottom center', 'Are you nuts?!')">Black</a>
                <a class="btn btn-light" href="javascript:;" onclick="$.Notification.confirm('white','bottom right', 'Are you nuts?!')">White</a>

              </div>
            </div>
          </div>
        </div> <!-- end col-->
      </div>
      <!-- end row-->

    </div> <!-- container -->

  </div> <!-- content -->

  <footer class="footer text-right">
    2015 - 2018 © Velonic - Coderthemes.com
  </footer>

</div>


<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->